/*Activity 5*/

body{
    font-family: 'Open Sans', sans-serif;
    margin: auto 30px;
}
#credits{
    font-style: italic;
    font-size: 1.1em;
    margin-bottom: 20px;
}
#header-image{
width: 100%;
}
main{
    margin: 0 40% 0 150px;
}
.links{
    text-decoration: none;
     transition: 2s; 
}
a.links:visited{
    color: blue;
}
.links:hover{
      color: red;
      font-size: 2em;
      border-style: ridge;
      font-style: initial;
}
